/* frfr */

@font-face {
  font-family: 'WonderfulBranding';
  src: url('Wonderful_Branding.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-family: 'EB Garamond', sans-serif;
  --color-1: #fff9f2;
  --color-2: #eee4db;
  --color-3: #eba082;
  --color-4: #eb9864;
  --color-5: #532b2b;
  --color-6: #a96b5b;
}

section {
  scroll-margin-top: 3rem;
  display: flow-root;
}

ul {
  list-style-type: none;
}

h3, h4 {
  font-family: 'WonderfulBranding', 'EB Garamond';
  margin: 0;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100vh;
}

.bigtext {
  font-size: 3rem;
}

.fancytext {
  font-family: 'WonderfulBranding', 'EB Garamond';
  margin-bottom: -1em;
  margin-top: -0.5em;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.totheleft {
  align-items: flex-start;
}

.button {
  text-decoration: none;
  border-radius: .3rem;
  padding: .2rem .4rem;
  color: var(--color-3);
  background-color: var(--color-1);
}

.button:hover {
  background-color: #e3dad0;
}

section#names {
  color: var(--color-4);
  background-color: var(--color-1);
}

section#names > div {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 249, 242, 0),
      rgba(255, 249, 242, 0) 75%,
      rgba(255, 249, 242, 1)
    ),
    url('https://media-public.canva.com/BJ6Ls/MAE2DpBJ6Ls/1/s.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

section#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-2);
}

section#schedule {
  color: var(--color-5);
  background-color: var(--color-2);
  padding: 3rem 15%;
}

section#schedule > .column {
  padding-left: 3rem;
  gap: 2rem;
}

section#parking {
  color: var(--color-1);
  background-color: var(--color-6);
  padding: 3rem 15%;
}

/* testing */

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-centered img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.map {
  width: 100%;
  height: 30rem;
}

.swiper {
  width: 600px;
  height: 300px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*gap: 1rem;*/
}

.paint-2 {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 249, 242, 1),
      rgba(255, 249, 242, 0) 25%,
      rgba(255, 249, 242, 0) 75%,
      rgba(255, 249, 242, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 249, 242, 1),
      rgba(255, 249, 242, 0) 25%,
      rgba(255, 249, 242, 0) 75%,
      rgba(255, 249, 242, 1)
    ),
    url('https://media-public.canva.com/MADo-yq4Ghc/1/thumbnail.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 20rem;
  height: 20rem;
}

.paint-3 {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 249, 242, 1),
      rgba(255, 249, 242, 0) 25%,
      rgba(255, 249, 242, 0) 75%,
      rgba(255, 249, 242, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 249, 242, 1),
      rgba(255, 249, 242, 0) 25%,
      rgba(255, 249, 242, 0) 75%,
      rgba(255, 249, 242, 1)
    ),
    url('https://media-public.canva.com/zc8Gs/MAE2Dszc8Gs/1/s.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 20rem;
  height: 20rem;
}

.paint-4 {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 249, 242, 1),
      rgba(255, 249, 242, 0) 25%,
      rgba(255, 249, 242, 0) 75%,
      rgba(255, 249, 242, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 249, 242, 1),
      rgba(255, 249, 242, 0) 25%,
      rgba(255, 249, 242, 0) 75%,
      rgba(255, 249, 242, 1)
    ),
    url('https://media-public.canva.com/l54_E/MAE2Dll54_E/1/tl.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 20rem;
  height: 20rem;
}

.emiel {
  background-image: url('emiel.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 20rem;
  height: 20rem;
}
